.grid-section {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem 1rem;
    margin-bottom: 4rem;
    background-color: #4E6C50;
}

.grid-section .container {
    width: 60%
}

.grid-section .container .titulo {
    text-align: center;
    color: #FFF;
}

.faq-lista {

}

.faq-lista dt {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #FFF;
    cursor: pointer;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #AA8B56;
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
    color: #f2f2f0;
    line-height: 1.4rem;

}

[data-anime="accordion"] dd {
    display: none;
}
  
[data-anime="accordion"] dt::after {
    content: '⬎';
    margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
    content: '⬏';
}

[data-anime="accordion"] dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        max-height: 200px;
        opacity: 1;
    }
}

[data-anime="scroll"] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}
  
[data-anime="scroll"].ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}